<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link href="./static/css/style.css" rel="stylesheet" type="text/css">
    <script src="script.js"></script>
</head>
<body style="background-color: #343F52;">
<header>
    <div class="navbar-div">
    <nav class="navbar navbar-light bg-dark">
        <a class="navbar-brand" href="/">
            <img src="/static/logo/logo.png" height="40px" width="40px">
        </a>
        <a class="navbar-brand" href="/all/tops">Топы</a>
        <a class="navbar-brand" href="/all/comparisons">Сравнения</a>
        <a class="navbar-brand" href="/all/reviews">Обзоры</a>
        <a class="navbar-brand" href="/all/subscribed">Подписки❤️</a>
        <a class="navbar-brand" href="/create_article">Создать💡</a>
        <a class="navbar-brand" href="/search">🔎</a>
        {% if current_user.is_authenticated %}
            <a href="/profile/{{ current_user.id }}">
                <img class="logo_user" src="/static/images/{{current_user.photo}}" alt="photo" height="50px" width="50px">
            </a>
        {% else %}
            <a class="btn btn-primary" href="/login">Войти</a>
        {% endif %}
    </nav>
        </div>
</header>
<!-- Begin page content -->
<main role="main" style="padding-top: 5%;">
    {% block content %}
    {% endblock %}
</main>
</body>
</html>