{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="category-form">
        <h1>Выберите категорию теста</h1>
        <p>
            {{ form.films(class='form-control') }}
        </p>
        <p>
            {{ form.games(class='form-control') }}
        </p>
            <p>
            {{ form.sport(class='form-control') }}
        </p>
            <p>
            {{ form.foods(class='form-control') }}
        </p>
            <p>
            {{ form.science(class='form-control') }}
        </p>
            <p>
            {{ form.tech(class='form-control') }}
        </p>
            <p>
            {{ form.music(class='form-control') }}
        </p>
                <p>
            {{ form.others(class='form-control') }}
        </p>
    </div>
</form>
{% endblock %}