{% extends "base.html" %}

{% block content %}
<form class="all_articles" method="post" novalidate>
    <div class="all_news" style="margin-left: 20%;">
        {% for news in all_news %}
        <div class="news" style="background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url(/static/images/{{news.photo}});background-repeat: no-repeat; background-size:contain;width:100; height:200px;border-radius:2rem;">
            {{news.name}}
        </div>
        {% endfor %}
    </div>
    <div class="welcome_page" style="float:left;">
    {% include 'all_articles.html' %}
    </div>
    <div class="leaders" style="float: right;margin-right:50px;">
        {% if leaders %}
        <div class="mark_leaders">
            <div style="font-size:20px; color: gray;">Лидеры:</div>
            <div style="margin-top:10px;color:#A8A8A8">
                <a href="/profile/{{ leaders[0].id }}"><div style="overflow: hidden;margin-bottom:20px;margin-top:20px;">
                    <span style="float: left;">
                        <img src="/static/images/{{ leaders[0].photo }}" width="30px" height="30px" class="logo_user">
                        {{ leaders[0].name }}</span>
                    <span style="float: right;margin-right:10px;color:#039be5;">{{ leaders[0].mark }}</span>
                </div></a>
                <a href="/profile/{{ leaders[1].id }}"><div style="overflow: hidden;margin-bottom:20px;">
                    <span style="float: left;">
                        <img src="/static/images/{{ leaders[1].photo }}" width="30px" height="30px" class="logo_user">
                        {{ leaders[1].name }}</span>
                    <span style="float: right;margin-right:10px;color:#039be5;">{{ leaders[1].mark }}</span>
                </div></a>
                <a href="/profile/{{ leaders[2].id }}"><div style="overflow: hidden;margin-bottom:20px;">
                    <span style="float: left;">
                        <img src="/static/images/{{ leaders[2].photo }}" width="30px" height="30px" class="logo_user">
                        {{ leaders[2].name }}</span>
                    <span style="float: right;margin-right:10px;color:#039be5;">{{ leaders[2].mark }}</span>
                </div></a>
                <a href="/profile/{{ leaders[3].id }}"><div style="overflow: hidden;margin-bottom:20px;">
                    <span style="float: left;">
                        <img src="/static/images/{{ leaders[3].photo }}" width="30px" height="30px" class="logo_user">
                        {{ leaders[3].name }}</span>
                    <span style="float: right;margin-right:10px;color:#039be5;">{{ leaders[3].mark }}</span>
                </div></a>
                <a href="/profile/{{ leaders[4].id }}"><div style="overflow: hidden;">
                    <span style="float: left;">
                        <img src="/static/images/{{ leaders[4].photo }}" width="30px" height="30px" class="logo_user">
                        {{ leaders[4].name }}</span>
                    <span style="float: right;margin-right:10px;color:#039be5;">{{ leaders[4].mark }}</span>
                </div></a>
            </div>
        </div>
        {% endif %}
        {% if top_articles %}
        <div class="top_articles" style="margin-top:30px;">
            <div style="font-size:20px; color: gray;">Лучшие статьи:</div>
            <div style="margin-top:10px;color:#A8A8A8">
                <a href=""><div style="overflow: hidden;margin-bottom:20px;margin-top:20px;">
                    <span style="float: left;">
                        <span style="color: #ffdead;">{{top_articles.tops.categories}}</span>
                        {{ top_articles.tops.name }}</span>
                    <span style="float: right;margin-right:10px;color:green;">+{{ top_articles.tops.mark }}</span>
                </div></a>
                <a href=""><div style="overflow: hidden;margin-bottom:20px;">
                    <span style="float: left;">
                        <span style="color: #ffdead;">{{top_articles.reviews.categories}}</span>
                        {{ top_articles.reviews.name }}</span>
                    <span style="float: right;margin-right:10px;color:green">+{{ top_articles.reviews.mark }}</span>
                </div></a>
                <a href=""><div style="overflow: hidden;margin-bottom:20px;">
                    <span style="float: left;">
                        <span style="color: #ffdead;">{{top_articles.comparisons.categories}}</span>
                        {{ top_articles.comparisons.name }}</span>
                    <span style="float: right;margin-right:10px;color:green">+{{ top_articles.comparisons.mark }}</span>
                </div></a>
                <a href=""><div style="overflow: hidden;margin-bottom:20px;">
                    <span style="float: left;">
                        <span style="color: #ffdead;">{{top_articles.news.categories}}</span>
                        {{ top_articles.news.name }}</span>
                    <span style="float: right;margin-right:10px;color:green">+{{ top_articles.news.mark }}</span>
                </div></a>
            </div>
        </div>
        {% endif %}
    </div>
</form>
{% endblock %}
