{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate  style="overflow: hidden">
    <div class="container" style="float: left; width: 200%; margin-left: 100px; overflow-wrap: break-word;">
        {% for article in articles %}
            <div class="article">
                <div class="time">
                    <h3>{{passed_time}}</h3>
                </div>
                <div class="name_article" style="color:white">
                    <h2>{{article.name}}</h2>
                </div>
                {% if article.photo %}
                <div class="image">
                    <img src="/static/images/{{ article.photo }}" alt="photo" height="100%" width="100%">
                </div>
                {% endif %}
                <div style="color:white">
                {{ article.describe }}
                </div>
                <hr>
                <div class="under-photo" style="display: flex; justify-content: space-between;color:white">

                    <button
                        class="btn btn-outline-primary" name="id" value="{{ article.id }}" >Читать
                    </button>
                    {% if current_user.id == article.user_id %}
                    <button
                        class="btn btn-outline-primary" name="delete" value="{{ article.id }}" >Удалить
                    </button>
                    {% endif %}
                    <div class="mark_and_readings" style='overflow: hidden;'>
                    <div class="article_mark" style="float: right">
                            {% if article.mark > 0 %}
                                <div title="Оценка" style="color:#00ff00; float: right">
                                    <strong>
                                        +{{article.mark}}
                                    </strong>
                                </div>
                            {% elif article.mark == 0 %}
                                <div title="Оценка" style="color:white; float: right">
                                    <strong>
                                        {{article.mark}}
                                    </strong>
                                </div>
                            {% else %}
                                <div title="Оценка" style="color: red; float: right">
                                    <strong>
                                        {{article.mark}}
                                    </strong>
                                </div>
                            {% endif %}
                            <div class="readings" title="Кол-во просмотров" style="color:white" >
                                👁{{ article.readings }}
                            </div>
                    </div>
                        </div>
                </div>

            </div>
        {% endfor %}
    </div>
    <div class="leaders" style="float:right">
        {% if mark_leaders %}
        <div class="mark_leaders" style="transform: translateX(-120px); background-color: #293245;margin-bottom:15px;padding-left:10px;margin-right:15px;margin-top:10px;break-word;overflow: hidden;color:white;box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.2);border: 2px solid #1D2330;">
                <b>Лидеры по рейтингу:</b>
                <p>1. {{ mark_leaders[0].name }}</p>
                <p>2. {{ mark_leaders[1].name }}</p>
                <p>3. {{ mark_leaders[2].name }}</p>
                <p>4. {{ mark_leaders[3].name }}</p>
                <p>5. {{ mark_leaders[4].name }}</p>
        </div>
        {% endif %}
        {% if readings_leaders %}
        <div class="readings_leaders" style="transform: translateX(-120px);  color:white;background-color: #293245;margin-bottom:15px;padding-left:10px;margin-right:15px;margin-top:10px;break-word;overflow: hidden;color:white;box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.2);border: 2px solid #1D2330;"">
            <b>Лидеры по просмотрам:</b>
            <p>1. {{ readings_leaders[0].name }}</p>
            <p>2. {{ readings_leaders[1].name }}</p>
            <p>3. {{ readings_leaders[2].name }}</p>
            <p>4. {{ readings_leaders[3].name }}</p>
            <p>5. {{ readings_leaders[4].name }}</p>
        </div>
        {% endif %}
        {% if subscribers_leaders %}
        <div class="subscribers_leaders" style=" transform: translateX(-120px); discolor:white;background-color: #293245;margin-bottom:15px;padding-left:10px;margin-right:15px;margin-top:10px;break-word;overflow: hidden;color:white;box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.2);border: 2px solid #1D2330;">
            <b>Лидеры по подписчикам:</b>
            <p>1. {{ subscribers_leaders[0].name }}</p>
            <p>2. {{ subscribers_leaders[1].name }}</p>
            <p>3. {{ subscribers_leaders[2].name }}</p>
            <p>4. {{ subscribers_leaders[3].name }}</p>
            <p>5. {{ subscribers_leaders[4].name }}</p>
        </div>
        {% endif %}
    </div>
</form>
{% endblock %}













