{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate>
    <div class="container">
        {% for article in articles %}
            <div class="article">
                <div class="creator">
                    <a class="creator_name" href="/profile/{{article.user_id}}">{{user}}</a>
                </div>
                <div class="time">
                    <h3>{{passed_time}}</h3>
                </div>
                <div class="name_article" style="color:white">
                    <h2>{{article.name}}</h2>
                </div>
                <div class="image">
                    <img src="/static/images/{{ article.photo }}" alt="photo" height="100%" width="100%">
                </div>
                {{ article.describe }}
                <hr>
                <div class="under-photo" style="display: flex; justify-content: space-between">

                    <button
                        class="btn btn-outline-primary" name="id" value="{{ article.id }}" >Читать
                    </button>
                    <div class="mark_and_readings" style='overflow: hidden;'>
                    <div class="article_mark" style="float: right">
                            {% if article.mark > 0 %}
                                <div title="Оценка" style="color: green; float: right">
                                    <strong>
                                        +{{article.mark}}
                                    </strong>
                                </div>
                            {% elif article.mark == 0 %}
                                <div title="Оценка" style="color:white; float: right">
                                    <strong>
                                        {{article.mark}}
                                    </strong>
                                </div>
                            {% else %}
                                <div title="Оценка" style="color: red; float: right">
                                    <strong>
                                        {{article.mark}}
                                    </strong>
                                </div>
                            {% endif %}
                            <div class="readings" title="Кол-во просмотров" style="color:white" >
                                {{ article.readings }}
                            </div>
                    </div>
                        </div>
                </div>

            </div>
        {% endfor %}
    </div>
</form>
{% endblock %}