{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="login-form">
        <div class="login_or_register">
            <div class="position_login">Вход</div>
            <div class="register-submit">
                <p>{{ form.register(class='button_register') }}</p>
            </div>
        </div>
            <div class="login-login">
                {{ form.username.label }}<br>
                {{ form.username(class="form-control", type="username", style='background-color: #343F52;  color: white;') }}<br>
                {% for error in form.username.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <div class="password-login">
                {{ form.password.label }}<br>
                {{ form.password(class="form-control", type="password", style='background-color: #343F52;  color: white;') }}<br>
                {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <div class="submit-login">
                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            </div>
            {{ message }}
        </div>
    </form>
{% endblock %}