{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="login-form" style="color:white;width: 50%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);">
            <h1>Вход в аккаунт</h1>
            <div class="login-login">
                {{ form.username.label }}<br>
                {{ form.username(class="form-control", type="username") }}<br>
                {% for error in form.username.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <div class="password-login">
                {{ form.password.label }}<br>
                {{ form.password(class="form-control", type="password") }}<br>
                {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <div class="submit-login">
                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                <p>{{ form.register(class="btn btn-secondary") }}</p>
            </div>
            {{ message }}
        </div>
    </form>
{% endblock %}