{% extends "make_test.html" %}

{% block body %}
<form action="" method="post" novalidate>
    {{ form_question.hidden_tag() }}
    {% for i in range(number) %}
    <h1>Вопрос № {{ i + 1 }}</h1>
        <p>
            {{ form_question.describe.label }}<br>
            <textarea></textarea>
            {% for error in form_question.describe.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
            <p>
            {{ form_question.photo(class="file")}}<br>
            {% for error in form_question.photo.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
            <p>
            {{ form_question.add_answer(class="form-control")}}<br>
            {% for error in form_question.add_answer.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
    {% endfor %}
</form>
{% endblock body%}