{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="make-test-form">
        <h1>Создание теста</h1>
        <p>
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.category.label }}
            {{ form.category(class='form-control')}}
            {% for error in form.category.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.describe.label }}<br>
            {{ form.describe(class='form-control')}}
            {% for error in form.describe.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.add_question(type='submit', class="btn btn-primary") }}
            {% for error in form.add_question.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
    </div>
</form>
{% endblock content %}