{% extends "base.html" %}

{% block content %}
<h1>Создание теста</h1>
<form action="" method="post" novalidate enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.category.label }}<br>
        {{ form.category(class='form-control')}}<br>
        {% for error in form.category.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
        </div>
    {% endfor %}
    </p>
    <p>
        {{ form.describe.label }}<br>
        {{ form.describe(class='form-control')}}
        {% for error in form.describe.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.photo(class="file")}}<br>
        {% for error in form.photo.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    {% block body %}{% endblock body%}
    <p>{{ form.create(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock content %}