{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate enctype=multipart/form-data>
    <div class="container" style="width: 80%; margin-right:-100px">
    {% if current_user.id == user_id %}
        <div class="profile" style="color:white;">
            <div style="display:flex">
                <div class="image">
                    <img src="/static/images/{{ current_user.photo }}" alt="photo" height="150px" width="150px" style="margin-top:20px;border-radius:50%">
                </div>
                <div class="first_level_profile">
                    <p> {{ name }}</p>
                    <div style="display:flex">
                        <p>Рейтинг: {{ mark }}</p>
                        <div style="margin-left:20px">
                            <p>Подписчики: {{ subscribers }}</p>
                        </div>
                </div>
                </div>
            </div>
            <div class="second_level_profile">
                <div class="element_profile">
                    {% if description %}
                    <p>Описание:</p>
                    <p>{{ description }} </p>
                    {% endif %}
                </div>
                <div class="element_profile">
                    {% if contacts %}
                    <p>Контакты: </p>
                    <p>{{ contacts }} </p>
                    {% endif %}
                </div>
            </div>
            <div class="third_level_profile">
                <div class="element_profile">
                    <p>{{ form.add_data(class='btn btn-outline-primary') }}</p>
                </div>
                <div class="element_profile">
                    <p>{{ form.exit(class='btn btn-outline-danger') }}</p>
                </div>
            </div>
            <div style="fourth_level_profile">
                <div style="width: 33%;">
                    {{ form.follow(class='btn btn-info') }}
                </div>
                <div style="width: 50%; margin-left: 100px">
                    <p>{{ form.created_articles(class='btn btn-info') }}</p>
                </div>
            <div style="margin-left: 100px">
                    <p>{{ form.subscribe(class='btn btn-info') }}</p>
                </div>
                </div>
        </div>
    {% else %}
        <div class="profile" style="color: white;">
            <div style="display:flex">
                <div class="image">
                    <img src="/static/images/{{ photo }}" alt="photo" height="150px" width="150px" style="margin-top:20px;border-radius:50%">
                </div>
                <div class="first_level_profile">
                    <p> {{ name }}</p>
                    <div style="display:flex">
                        <p>Рейтинг: {{ mark }}</p>
                        <div style="margin-left:20px">
                            <p>Подписчики: {{ subscribers }}</p>
                        </div>
                </div>
                </div>
            </div>
            <div class="second_level_profile">
                <div class="element_profile">
                    {% if description %}
                    <p>Описание:</p>
                    <p>{{ description }} </p>
                    {% endif %}
                </div>
                <div class="element_profile">
                    {% if contacts %}
                    <p>Контакты: </p>
                    <p>{{ contacts }} </p>
                    {% endif %}
                </div>
            </div>
            <div style="display:flex;margin-top:15px">
                {% if is_subscribed %}
            <div class="follow">
                <button name="to_subscribe" class="btn btn-secondary" value="1">Отписаться</button>
            </div>
            {% else %}
            <div class="follow">
                <button name="to_subscribe" class="btn btn-danger" value="1">Подписаться</button>
            </div>
            {% endif %}
            </div>
            <div class="fourth_level_profile">
                <div style="width: 33%;">
                    {{ form.follow(class='btn btn-info') }}
                </div>
                <div style="width: 50%; margin-left: 100px">
                    <p>{{ form.created_articles(class='btn btn-info') }}</p>
                </div>
            <div style="margin-left: 100px">
                    <p>{{ form.subscribe(class='btn btn-info') }}</p>
                </div>
                </div>
        </div>
    </div>
    {% endif %}
        <div class="container">
        {% for article in add_articles %}
            <div class="article">
                <a style="display:flex; text-decoration: none;" class="first_level" href="/profile/{{article.user_id}}">
                    <div class="image">
                        <img src="/static/images/{{ creators[article.id|string][1] }}" alt="photo" height="50px" width="50px" class="logo_user_article">
                    </div>
                    <div class="creator">
                        <div class="creator_name" style="font-size:20px;color:white"> {{creators[article.id|string][0]}}</div>
                        <div style="font-size:14px;color:#A8A8A8">Подписчики: {{creators[article.id|string][2]}} </div>
                    </div>
                    <div style="font-size:14px;color:#A8A8A8">
                        {{data[article.id|string][3]}}
                    </div>
                </a>
                <div class="name_article">
                    <h2>{{article.name}}</h2>
                </div>
                {% if article.photo %}
                <div class="image">
                    <img src="/static/images/{{ article.photo }}" alt="photo" height="100%" width="100%">
                </div>
                {% endif %}
                <div style="color:white">
                {{ article.describe }}
                </div>
                <hr>
                <div class="under-photo">
                    <button
                        class="btn btn-outline-primary" name="id" value="{{ article.id }}" >Читать
                    </button>
                    {% if current_user.id == article.user_id %}
                    <div style="justify-content:center">
                        <button
                            class="btn btn-outline-danger" name="delete" value="{{ article.id }}" >Удалить
                        </button>
                    </div>
                    {% endif %}
                    <div class="article_mark" style="float: right">
                            {% if article.mark > 0 %}
                                <div title="Оценка" style="color:#00ff00;">
                                    <strong>
                                        +{{article.mark}}
                                    </strong>
                                </div>
                            {% elif article.mark == 0 %}
                                <div title="Оценка" style="color:white;">
                                    <strong>
                                        {{article.mark}}
                                    </strong>
                                </div>
                            {% else %}
                                <div title="Оценка" style="color: red;">
                                    <strong>
                                        {{article.mark}}
                                    </strong>
                                </div>
                            {% endif %}
                            <div class="readings" title="Кол-во просмотров">
                                👁{{ article.readings }}
                            </div>
                            <div class="amount_comments" title="Кол-во комментариев">
                                💬{{data[article.id|string][4]}}
                            </div>
                    </div>
                </div>

            </div>
        {% endfor %}
                        </div>
        {% if all_users %}
        <div class="container" style="width: 80%; margin-right:-100px">
        {% for user in all_users %}
            <div class="comment">
            <a style="display:flex; text-decoration: none;" class="first_level" href="/profile/{{article.user_id}}">
                    <div class="image">
                        <img src="/static/images/{{ creators[article.id|string][1] }}" alt="photo" height="50px" width="50px" class="logo_user_article">
                    </div>
                    <div class="creator">
                        <div class="creator_name" style="font-size:20px;color:white"> {{creators[article.id|string][0]}}</div>
                        <div style="font-size:14px;color:#A8A8A8">Подписчики: {{creators[article.id|string][2]}} </div>
                    </div>
                    <div style="font-size:14px;color:#A8A8A8">
                        {{data[article.id|string][3]}}
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    {% endif %}
</form>
{% endblock %}