{% extends "base2.html" %}

{% block content %}
<h1>Вопрос № {{ number_question }}</h1>
<form action="" method="post" novalidate>
        <p>
            {{ name }}
        </p>
        <button type="submit" class="form-control" name="index" value="0">{{ answer[0] }}</button>
        <button type="submit" class="form-control" name="index" value="1">{{ answer[1] }}</button>
        <button type="submit" class="form-control" name="index" value="2">{{ answer[2] }}</button>
        <button type="submit" class="form-control" name="index" value="3">{{ answer[3] }}</button>
</form>
{% endblock %}