{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate>
    <div class="questions-form">
        <div class="image">
            <img src="/static/images/{{ photo }}" alt="photo" height="100%" width="100%">
        </div>
        <h1>Вопрос № {{ number_question }}</h1>
        <p>{{ name }}</p>
        <p><button type="submit" class="form-control" name="index" value="0">{{ answer[0] }}</button></p>
        <p><button type="submit" class="form-control" name="index" value="1">{{ answer[1] }}</button></p>
        <p><button type="submit" class="form-control" name="index" value="2">{{ answer[2] }}</button></p>
        <p><button type="submit" class="form-control" name="index" value="3">{{ answer[3] }}</button></p>
    </div>
</form>
{% endblock %}