{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate>
    <div class="container" style="margin-left: 20%;">
        <div class="read_article">
        <a class="first_level" href="/profile/{{article.user_id}}" style="text-decoration:none;">
            <div class="image" style="text-decoration:none;">
                <img src="/static/images/{{ user.photo }}" alt="photo" height="40px" width="40px" class="logo_user_article">
            </div>
            <span class="creator" style="text-decoration:none;">
                <span class="creator_name" style="font-size:20px;"> {{user.name}}</span>
                <span style="font-size:14px;color:#A8A8A8">•</span>
                <span style="font-size:14px;color:#A8A8A8" title="Подписчики">{{user.subscribers}} </span>
                <span style="font-size:14px;color:#A8A8A8">•</span>
                <span style="font-size:14px;color:#A8A8A8">
                    {{time}}
                </span>
                <span>|</span>
                <span style="color: #ffdead;margin-top:20px;font-size:18px;">{{article.categories}}</span>
                {% if is_subscribed and current_user.id != user.id %}
                <span class="follow">
                    <button name="to_subscribe" class="btn btn-secondary" value="1">Отписаться</button>
                </span>
                {% elif current_user.id != user.id %}
                <span class="follow">
                    <button name="to_subscribe" class="btn btn-danger" value="1">Подписаться</button>
                </span>
                {% endif %}
        </a>
        <div class="header">
            {{ article.name }}
        </div>
        <div class="tags" style="color:gray;font-size:18px;">
            {{article.brand}}, {{article.body}}, {{article.motors}}
        </div>
            {% if article.photo %}
                <div class="image" style="padding:10px">
                    <img src="/static/images/{{ article.photo }}" alt="photo" height="100%" width="100%">
                </div>
                {% endif %}
        <div class="text" style="word-break:break-word">
            {{ article.text|safe }}
        </div>
        <div class="under-photo">
            <div class="make_mark">
                <button class="btn btn-outline-danger" name="mark" value="-1">-1</button>
                {% if mark > 0 %}
                    <span title="Твоя оценка" style="color:#00ff00;">
                        +{{mark}}
                    </span>
                    {% elif mark == 0 %}
                    <span title="Твоя оценка" style="color: white;">
                        {{mark}}
                    </span>
                    {% else %}
                    <span title="Твоя оценка" style="color: red;">
                        {{mark}}
                    </span>
                    {% endif %}
                <button class="btn btn-outline-success" name="mark" value="1">+1</button>
            </div>
            <div class="article_mark" style="display: flex;font-weight: 700; ">
                    {% if article.mark > 0 %}
                    <div title="Оценка" class='mark_article' style="color:#00ff00;">
                        +{{article.mark}}
                    </div>
                    {% elif article.mark == 0 %}
                    <div title="Оценка" class='mark_article' style="color: white;">
                        {{article.mark}}
                    </div>
                    {% else %}
                    <div title="Оценка" class='mark_article' style="color: red;">
                        {{article.mark}}
                    </div>
                    {% endif %}
                    <div class="readings" title="Кол-во просмотров">
                        👁{{ article.readings }}
                    </div>
            </div>
            {% if current_user.id == article.user_id %}
            <div>
                <a
                    href="/delete_article/{{article.id}}" class="btn btn-outline-danger" style="border-radius:2rem;float:right;">Удалить
                </a>
            </div>
            {% endif %}
        </div>
        </div>
    <div class="comments">
        <div class="make_comment">
            {% if current_user.is_authenticated %}
            <div class="comment_form" style="width: 80%;margin:40px;">
                <textarea name="comment_input" class="comment_form"></textarea>
            </div>
            <button class="btn btn-primary" name="comment" value="1">Создать</button>
            {% else %}
            <div style="font-size:30px">
                Чтобы написать комментарий, необходимо зарегестрироваться
            </div>
            {% endif %}
        <div style=" margin-top:15px">
            <h1>Комментарии ({{ amount_comments }})</h1>
        </div>
        </div>
        <div style="padding-bottom:10px" class="all_comments">
            {% for comment in all_comments %}
            <div class="comment" style="border-left: {{comment.level * 2}}px solid;margin-left:{{comment.level * 20}}px;">
                <a class="first_level" href="/profile/{{comment.user_id}}" style="text-decoration:none;">
                    <div class="image" style="text-decoration:none;">
                        <img src="/static/images/{{ data_comments[comment.id|string][1] }}" alt="photo" height="40px" width="40px" class="logo_user_article">
                    </div>
                    <span class="creator" style="text-decoration:none;">
                        <span class="creator_name" style="font-size:20px;"> {{data_comments[comment.id|string][0]}}</span>
                        <span style="font-size:14px;color:#A8A8A8">•</span>
                        <span style="font-size:14px;color:#A8A8A8" title="Подписчики">{{data_comments[comment.id|string][2]}} </span>
                        <span style="font-size:14px;color:#A8A8A8">•</span>
                        <span style="font-size:14px;color:#A8A8A8">
                            {{data_comments[comment.id|string][3]}}
                        </span>
                    </span>
                </a>
                <div class="text_comment">{{comment.text|safe}}</div>

                <div class="article_mark" style="float: right; display: flex;font-weight: 700; ">
                    {% if comment.mark > 0 %}
                        <div title="Оценка" style="color:#00ff00;">
                            +{{comment.mark}}
                        </div>
                        {% elif comment.mark == 0 %}
                        <div title="Оценка" style="float: right;">
                            {{comment.mark}}
                        </div>
                        {% else %}
                        <div title="Оценка" style="color: red; float: right;">
                            {{comment.mark}}
                        </div>
                        {% endif %}
                    </div>
                <button name="comment_mark" class="btn btn-outline-danger" value="{{ comment.id }},-1">-1</button>
                <button name="comment_mark" class="btn btn-outline-success"  value="{{ comment.id }},1">+1</button>
                {% if to_answer == comment.id|string %}
                    <textarea name="answer_input" class="comment_form"></textarea>
                    <button name="make_answer" class="btn btn-outline-primary" value="{{ comment.id }}">Ответить</button>
                {% else %}
                <button name="to_answer" class="btn btn-outline-primary" value="{{ comment.id }}">Ответить</button>
                {% endif %}
        </div>
        {% endfor %}
    </div>
</form>
{% endblock %}
