{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate>
    <p></p>
    <div class="container" style="color:white">
        <div class="read_article">
        <div class="first_level">
            <div class="time">
                {{ time }}
            </div>
            <div class="creator">
                <a class="creator_name" href="/profile/{{article.user_id}}">{{user.name}}</a>
            </div>
            <div class="follow">
                <button name="to_subscribe" class="btn btn-danger" value="1">Подписаться</button>
            </div>
        </div>
        <div class="header">
            <h1>{{ article.name }}</h1>
        </div>
            <div class="image">
                    <img src="/static/images/{{ article.photo }}" alt="photo" height="100%" width="100%">
                </div>
        <div class="second_level">
            <div class="readings">
                {{ article.readings }}
            </div>
            <div class="mark">
                {{ article.mark }}
            </div>
        </div>
        <div class="tags">
            {{ article.key_words }}
        </div>
        <div class="text">
            {{ article.text|safe }}
        </div>
        <div class="make_mark">
            <button name="mark" value="-1">-1</button>
            <button name="mark" value="1">+1</button>
        </div>
        </div>
    </div>
</form>
{% endblock %}