{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="register-form">
        <h1>Создание аккаунта</h1>
        <p>
            {{ form.login.label }}
            {{ form.login(class="form-control") }}
            {% for error in form.login.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
            {% for error in form.username.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password(class="form-control", type="password") }}
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <div class="register-submit">
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            <p>{{ form.to_login(class="btn btn-secondary") }}</p>
        </div>
    </div>
    {{message}}
</form>
{% endblock %}