<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="register-form">
            <button class="closebtn" name='close' value="1" onclick="this.parentElement.style.display='none';">&times;</button>
            <div style="font-size:40px;padding-top:20px">Регистрация</div>
            <div class="login-login">
                {{ form.email(class="input_login", type="email", placeholder='Почта') }}<br>
            </div>
            <div class="password-login">
                {{ form.username(class="input_login",placeholder='Имя') }}<br>
            </div>
            <div class="password-login">
                {{ form.password(class="input_login", type="password", placeholder='Пароль') }}<br>
            </div>
            <div class="submit-login">
                <p>{{ form.submit(type="submit", class="btn btn-primary", style="border-radius:2rem;margin-top:20px") }}</p>
            </div>
            {{message}}
            <div class="register-submit">
                <p>{{ form.login(class='button_register') }}</p>
            </div>
    </div>
</form>
</body>