{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate enctype=multipart/form-data>
        {{ form.hidden_tag() }}

{% if current_user.is_authenticated %}

    <div class="write-article-form">
        <h1>Настройки публикации</h1>
            <span>
                {{ form.name(class="input_login", style='margin-bottom:20px;width:98%', placeholder='Название') }}<span style="color:red;" title="Обязательно">*</span>
            </span>
<!-- Place the first <script> tag in your HTML's <head> -->
<script src="https://cdn.tiny.cloud/1/yz21sbvfhoqwvo3hl2p58u312quu2ubwy1n6vp9mtxaf2ctu/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

<!-- Place the following <script> and <textarea> tags your HTML's <body> -->
<script>
  tinymce.init({
    selector: 'textarea#input',
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
  });
</script>
<textarea name="input" id="input">
</textarea>
        <p>
            {{ form.describe(class='input_login', placeholder='Описание') }}
        </p>
        <div>
        <span>
        <span>
            Тип статьи<span style="color:red;" title="Обязательно">*</span>: {{ form.category(class="selector_form") }}

        </span>
            <span>
            Марка: {{ form.brand_category(class="selector_form") }}
            </span>
        </span>
        </div>
        <div>
        <span>
        <span>
            Кузов: {{ form.body_category(class="selector_form") }}
        </span>
            <span>
            Двигатель: {{ form.motors_category(class="selector_form") }}
            </span>
        </span>
            </div>
        <span>
            {{ form.price_from(class='input_login',style='width:30%', placeholder='Цена от') }}
            {{ form.price_to(class='input_login',style='width:30%', placeholder='Цена до') }}
            {{ form.photo }}
        </span>

        <p>
            {{ form.create(type='submit', class="btn btn-primary", style="border-radius:2rem;margin-top:20px") }}
        </p>
    </div>
{% else %}
    <div style="color:white">
        <p>Чтобы создать статью, необходимо зарегестрироваться</p>
    </div>
{% endif %}
</div>
</form>
{% endblock content %}